@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6" >
        <h1>Hello World</h1>
        <p>
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        </p>
        <form>
            <div>
                <label>Date</label>
                <input />
            </div>
            <div>
                <label>Location</label>
                <input />
            </div>
            <input type="submit" value="Add" />
        </form>
    </div>
    <div class="col-md-6">
        The Map
    </div>
</div>