
<html>
<head>
    <title>The World Page - @ViewBag.Title</title>
    <meta charset="utf-8" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div id="sidebar">
        <img src="~/img/user1.jpg" alt="Sam Hasting" class="headshot" />
        <span id="username">Sam Hasting</span>
        <ul class="menu">
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="About">About</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact test</a></li>
        </ul>
    </div>

    <div id="wrapper">
        <div id="main">
            <div>
                <button id="sidebarToggle" class="btn btn-primary btn-sm">
                    <i class="fa fa-angle-left"></i>
                </button>
            </div>
            <div>
                @RenderBody()
            </div>
        </div>
        <div id="footer">
            <p class="text-primary">&copy; 2015 The World</p>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>